@model  List<ControlProject.Entities.Student>
    @{ 
        int rank = 1;
        double? previousSuccessRate = null;
    }


<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="card-title text-center"> Başarı Sıralaması</h4>
        <p class="card-description">

        </p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Sıralama
                        </th>
                        <th>
                            Öğrenci Adı
                        </th>
                        <th>
                            İlerleme Durumu
                        </th>
                        <th>
                            Eğitmen Adı
                        </th>


                    </tr>
                </thead>

                <tbody>

                    @foreach (var student in Model)
                    {
                        if (previousSuccessRate != student.SuccessRate)
                        {
                            rank = Model
                                .Where(x => x.SuccessRate > student.SuccessRate)
                                .Select(x => x.SuccessRate)
                                .Distinct()
                                .Count() + 1;

                            previousSuccessRate = student.SuccessRate;
                        }

                        <tr>
                            <td class="py-1">
                                @rank
                            </td>
                            <td>
                                @*<img class="py-0" src="~/Templates/Admin/template/images/faces/face5.jpg" alt="image" style="margin-right: 8px;" />*@
                                @student.Name
                                @if (rank == 1)
                                {
                                    <img src="~/Assets/icons/gold.png" alt="Altın Rozet" style="width:40px;" />
                                }
                                else if (rank == 2)
                                {
                                    <img src="~/Assets/icons/silver.png" alt="Gümüş Rozet" style="width:40px;" />
                                }
                                else if (rank == 3)
                                {
                                    <img src="~/Assets/icons/bronze.png" alt="Bronz Rozet" style="width:40px;" />
                                }

                            </td>
                            <td style="text-align: center;">
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @student.SuccessRate%;">@student.SuccessRate %</div>

                                </div>
                            </td>
                            <td>@student.Teacher.Name</td>

                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>
</div>