
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CelestialUI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Templates/Admin/template/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="~/Templates/Admin/template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Templates/Admin/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Templates/Admin/template/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="~/Templates/Admin/template/images/logo.svg" alt="logo">
                            </div>
                            <h4>Hoş Geldin! Hadi projeleri kontrol edelim.</h4>
                     
                            <form method="post" class="pt-3">
                                <div class="form-group">
                           
                                    <input class="form-control form-control-lg" name="UserName" type="text" placeholder="Kullanıcı Adı" />
                                
                                </div>
                                <div class="form-group">
                                  
                                    <input class="form-control form-control-lg" name="Password" type="password" placeholder="Şifre" />
                                  
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn" >Giriş Yap</button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input btn-info ">
                                            Beni Hatırla
                                        </label>
                                    </div>
                            
                                </div>
                            
                                @*<div class="text-center mt-4 font-weight-light">
                                  Hesabın yok mu? <a href="register.html" class="text-primary">Oluştur</a>
                                </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/Templates/Admin/template/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Templates/Admin/template/js/off-canvas.js"></script>
    <script src="~/Templates/Admin/template/js/hoverable-collapse.js"></script>
    <script src="~/Templates/Admin/template/js/template.js"></script>
    <script src="~/Templates/Admin/template/js/settings.js"></script>
    <script src="~/Templates/Admin/template/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>
